@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('img/bg.jpg');
    background-size: cover;
    background-position: center; 
    font-family: 'Frijole', cursive;
    height: 100vh;
}

header {
    margin: 0 24px;
    color: #58250c;
}

div#controls {
    display: flex;
    justify-content: space-around;
}

button#button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #58250c;
    padding: 4px 12px;
    font-family: 'Frijole', cursive;
    border: soldi 1px #58250c;
    border-radius: 5px;
}

footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 24px;
    color: #58250c;
}

h1 {
    font-size: 56px;
 
    text-align: center;
}

#wrapper {
    margin: 24px;
}

img.dino-img {
    opacity: 0;
}

img.active {
    opacity: 100;
}

/* @keyframes fadeExplosion {
    0% {
        opacity: 100; 
        transform: scale(0.5);
    }
    50% {
        opacity: 75; 
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}


img#asteroid-img {
    animation: fade 2s ease;
} */

img.moving {
    transition: position 2s;   
}

#game-over {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #58250c;
    display: none;
    
}

div#next-level {
    display: flex;
    color: #193f09;
    align-items: center;
    justify-content: center;
    display: none;
}

div#next-level h1 {
    font-size: 120px;
}

